<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>密判定サイト</h3>
  <p>位置をずらして撮影した2枚の写真から、密かどうかを判定します。</p>
  <h5>※実装途中です。現時点では写真中の左から2人の距離を計算して返します。</h5>
  <form method="post" action="/detect_mitsu" enctype="multipart/form-data">
      <div>1枚目の写真：<input type="file" name="pic1" id="pic1"></div>
      <div>2枚目の写真：<input type="file" name="pic2" id="pic2"></div>
      <div>カメラの移動距離[cm]：<input type="number" name="move" id="move" value="70"></div>
      <div>撮像素子サイズ[mm]：<input type="number" name="cmos" id="cmos" value="4.8">※iPhone8だと4.8mmです</div>
      <div><br/><input type="submit" value="判定する"></div>
  </form>
</body>
</html>